<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Siesma Error Page
    </title>
</head>
<body>
Error Page.Please check the used url. To access the application for siesma test, please use<br>
<a href> siesm-ecssi-1NZVXZBO0PEHS-f5e03097a656ee85.elb.us-west-2.amazonaws.com:8080/CalcTaxOfEmployees </a>
<br>

Access the application as POST request
And please use a payload like:
[
{
"firstName": "David",
"lastName": "Rudd",
"annualSalary": 60000,
"paymentMonth": 1,
"superRate": 0.09
},
{
"firstName": "Ryan",
"lastName": "Chen",
"annualSalary": 120000,
"paymentMonth": 1,
"superRate": 0.1
}
]


</body>
</html>